/* start reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
	display:block;
}

ul, dl {
	list-style:none;
	width:100%;
}

a {
	text-decoration:none;
	background: none;
}

html,body {
	margin:0;padding:0;
}

/* end reset */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Fonts */

@font-face {
	font-family: 'century gothic'; 
	src: url('./fonts/century-gothic/CenturyGothicPaneuropeanRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'century gothic bold'; 
	src: url('./fonts/century-gothic/CenturyGothicPaneuropeanBold.ttf') format('truetype');
}

@font-face {
	font-family: 'dahlia bold'; 
	src: url('./fonts/dahlia-font/dahlia-bold.otf');
	src: url('./fonts/dahlia-font/dahlia-bold.woff') format('woff');
}

@font-face {
	font-family: 'dahlia medium'; 
	src: url('./fonts/dahlia-font/dahlia-medium.otf');
	src: url('./fonts/dahlia-font/dahlia-medium.woff') format('woff');
}


/*
Colors:

primary: rgb(80,93,62); 
secondary: rgb(235,233,227);
primary hover: #414835;
*/


body {
	background-color:rgb(235,233,227); /* secondary */
}

.container {
	width:960px;
	height:auto;
	margin:0px auto;
	padding:0px;
	clear:both;
}

/* columns */

.onecol,
.twocol,
.threecol,
.fourcol {
	height:auto;
	float:left;
	margin:0 1.234567901235%; /* 10px / 810 */
	padding:0;
}

.onecol {
	width: 940px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.twocol {
	width: 460px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.threecol {
	width: 300px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.fourcol {
	width: 220px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.direction-header {
	width: 780px;
	height: auto;
	float: left;
	margin: 0 10px;
}


.directions {
	width: 380px;
	height: auto;
	float: left;
	margin: 0 10px;
}


.fourcol-prop {
	background:rgb(80,93,62); /*  primary */
	padding:30px 0 0 0;
	height:135px;
	transition: background-color .25s ease-in; /*safari and chrome */
	-webkit-transition: background-color .25s ease-in; /*safari and chrome */
 	-o-transition: background-color .25s ease-in; /* opera */
}

.prop {
	background-color: #000;
	height:165px;
	margin-bottom: 20px;
}

.fourcol-prop:hover {
	background: #414835; /* primary hover */
	cursor: pointer;
}

.fivecol {
    width: 172px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.sixcol {
    width: 140px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.threecol_2 {
    width: 620px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.fourcol_3 {
    width: 700px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.fivecol_3 {
    width: 556px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.twelvecol {
    width: 60px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.twelvecol_5 {
    width: 380px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.twelvecol_7 {
    width: 540px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.bump {
	width: 100%;
	height: 30px;
	clear:both;
}

a.fade {
    transition: opacity .2s ease-in; /*safari and chrome */
    -webkit-transition: opacity .2s ease-in; /*safari and chrome */
    -o-transition: opacity .2s ease-in; /* opera */}

a.fade:hover {
    border: none;
    opacity: 0.60;
    filter: alpha(opacity=60);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

img.prop {
	margin-bottom: 20px;
	transition: opacity .2s ease-in; /*safari and chrome */
	-webkit-transition: opacity .2s ease-in; /*safari and chrome */
	-o-transition: opacity .2s ease-in; /* opera */
}

img.prop:hover {
    opacity: 0.75;
    filter: alpha(opacity=75);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";  
}

.video-container {
	clear:both;
}

.video-container .video-wrapper {
	position:relative;
	padding-left: 20px;
	padding-bottom: 20px;
	float: right;
}

.page-title {
	font-size: 20px;
	font-family: "century gothic";
}

.page-title.centered {
	width: 960px;
	text-align: center;
}

/*~~~~~~~~~~~ Form ~~~~~~~~~~~~~~*/

/* Change the white to any color */
input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
	box-shadow: 0 0 0 30px white inset !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	-webkit-text-fill-color: rgb(80,93,62) !important;
	font-family: "century gothic";
	font-size: 18px;
}

form {
	display: flex;
	flex-direction: column;
	/* width: 500px; */
	align-items: center;
}

.input {
	width: 470px;
	height: 60px;
	padding: 0 15px;
	border: none;
	outline: 1px solid #ddd; /* primary */
	border-radius: 2px;
	font-size: 18px;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

.input::placeholder {
	color: rgb(80,93,62); /* primary */
}

#attendance_inputs {
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 60px;
}

#attendance_inputs p {
	height: 60px;
	line-height: 60px;
	flex: 1;
	font-size: 18px;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

/* CUSTOM RADIO */

/* The container */
.check-wrapper {
  display: block;
  position: relative;
	height: 22px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 40px;
	margin-top: 15px;
	margin-left: 20px;
	padding-top: 4px;
	font-size: 20px !important;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

/* Hide the browser's default radio button */
.check-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
	border: 1px solid rgb(80,93,62); /* primary */
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check-wrapper:hover input ~ .checkmark {
  background-color: #ddd;
}

/* When the radio button is checked, add a blue background */
.check-wrapper input:checked ~ .checkmark {
  background-color: rgb(80,93,62); /* primary */
	border: 1px solid rgb(80,93,62); /* primary */
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.check-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.check-wrapper .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: white;
}

/* CUSTOM RADIO END */

/* PROFILE START */

#lays {
	width: 460px;
	height: 320px;
	margin: 0 auto;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;   
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-image: url("lays1.png");
}

#lays:hover, #lays:active {
	width: 460px;
	height: 320px;
	margin: 0 auto;
	background-image: url("lays2.png");
}

#luiz {
	width: 460px;
	height: 320px;
	margin: 0 auto;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background-image: url("luiz1.png");
}

#luiz:hover, #luiz:active {
	width: 460px;
	height: 320px;
	margin: 0 auto;
	background-image: url("luiz2.png");
}
/* PROFILE END */

#attendance_inputs label {
	font-size: 18px;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

#guests_inputs {
	display: flex;
	flex-direction: row;
	width: 500px;
	height: 60px;
}

#guests_inputs p {
	height: 60px;
	line-height: 60px;
	flex: 1;
	font-size: 18px;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

#guests_inputs select {
	height: 60px;
	width: 100px;
	padding: 0 15px;
	border: none;
	outline: 1px solid #ddd; /* primary */
	border-radius: 2px;
	font-size: 18px;
	font-family: "century gothic";
	color: rgb(80,93,62); /* primary */
}

#guests_inputs select::placeholder {
	color: rgb(80,93,62); /* primary */
}

#contact_inputs {
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.input.ddd {
	width: 70px;
}

.input.telefone {
	width: 340px;
}

.input:focus {
	outline: 1px solid rgb(80,93,62); /* primary */
}

#submit {
	background-color: rgb(80,93,62); /* primary */
	color: #fff;
	font-size: 18px;
	font-family: "century gothic";
	height: 60px;
	width: 350px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

#submit:hover,
#submit:focus {
    background: #414835; /* primary darker */
}

/*~~~~~~~~~~~ Slide ~~~~~~~~~~~~~~*/

@keyframes fade {
	0%{opacity: 0.1}
	20%{opacity: 1}
	80%{opacity: 1}
	100%{opacity: 0.1}
}

#slideshow-left, #slideshow-right {
	background-color: #000;
	width: 460px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.slide-item {
  display:none;
  width:460px;
  height:694px;
}
.slide-item.show {
  display:block;
	animation: fade 5s ease-in-out infinite;
}

/*~~~~~~~~~~~ ONDE FICAR ~~~~~~~~~~~~~~*/

.shadow {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.places {
	display: flex;
	width: 940px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.place {
	flex: 1;
	background-color: #fff;
}

.place img {
	width: 300px;
	height: 225px;
}

.place-title {
	color: rgb(80,93,62); /*  primary */
	font-family: "dahlia medium";
	font-size: 28px;
	line-height: 28px;
}

.place p {
	padding: 0 10px;
	margin: 12px 0 12px 0;
}

.place-separator {
	width: 20px;
}

/*~~~~~~~~~~~ Traje ~~~~~~~~~~~~~~*/

.traje {
	width: 380px;
	height: auto;
	float: left;
	margin: 0 10px;
}

.traje img {
	width: 700px;
}

/*~~~~~~~~~~~ Menu ~~~~~~~~~~~~~~*/

#menu {
	
	margin: -33px auto 0 auto;
	text-align: center;
	height: auto;
	padding: 19px 0 19px 0;
	font-family: "dahlia medium";
	font-weight: 400;
	font-size: 32px;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}


li#menunav {
	display:inline;
	text-align: center;
	margin: 0 auto;
}


#menunav a {
	color:rgb(80,93,62); /*  primary */;
	margin:0 7px;
}


#menunav a:hover {
	border-bottom: 5px solid rgb(80,93,62); /*  primary */
}

body#home a#homenav,
body#proposal a#proposalnav,
body#rsvp a#rsvpnav,
body#details a#detailsnav,
body#registry a#registrynav,
body#services a#servicesnav {
color: rgb(80,93,62); /*  primary */;
border-bottom: 5px solid rgb(80,93,62); /*  primary */
}


::selection {
    background:rgb(80,93,62); /*  primary */
}
::-moz-selection {
    background:rgb(80,93,62); /*  primary */
}
::-webkit-selection {
    background:rgb(80,93,62); /*  primary */
}


/*~~~~~~~ AND SO WE BEGIN ~~~~~~~*/

p {
	color: rgb(80,93,62); /*  primary */;
	font-family: "century gothic";
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 15px 0;
	text-align: justify;
}

h1 {
	font-family: "dahlia medium";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	color: rgb(80,93,62); /*  primary */
	line-height: 43px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}

h1.profile {
	font-family: "dahlia medium";
	color: rgb(80,93,62); /*  primary */
	width:100%;
	margin: 15px 0;
	font-size: 28px;
	line-break: 28px;
}

h2 {
	font-family: "dahlia medium";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: rgb(80,93,62); /*  primary */
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}

h3 {
	font-family: "dahlia medium";
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: rgb(80,93,62); /*  primary */;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}

h4 {
	font-family: "dahlia medium";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgb(80,93,62); /*  primary */
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}

h5 {
	font-family: "dahlia medium";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgb(80,93,62); /*  primary */
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: -.03em;
}

h2 a, h3 a {
    color: rgb(80,93,62); /* primary */
    text-decoration: none;
    -webkit-transition: color .2s ease-in; /*safari and chrome */
    -o-transition: color .2s ease-in; /* opera */
}

h2 a:hover, h3 a:hover {
	color: rgb(80,93,62); /* primary */;
}

ul.details li {
	list-style-type: disc;
	color: #333;
	font-family: "century gothic";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 15px -20px;
}

/*~~~~~~~~~~~ Countdown ~~~~~~~~~~~~~~*/

#countdown {
	display: flex;
  align-items: center;
  justify-content: center;
	width: 100%;
	height: 100%;
  text-transform:uppercase;
}

.countdown-wrap h1 {
	font-family: "dahlia bold";
	color:#FFF;
	text-align: center;
	font-size:40px;
}

.number { 
	font-family: "dahlia bold";
	color:#FFF;
	text-align: center;
  font-size:80px;
}

.number-prefix { 
	font-family: "dahlia bold";
	color:#FFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
  font-size:26px;
}

.number-sufix { 
	font-family: "dahlia bold";
	color:#FFF;
	text-align: center;
	padding-top: 15px;
  font-size:30px;
}

.count {
	background:rgb(80,93,62); /* primary */;
	width:100%;
	height:164px;
	-webkit-transition: background-color .25s ease-in; /*safari and chrome */
 	-o-transition: background-color .25s ease-in; /* opera */
}

.count:hover {
	background: #414835; /* primary hover */
	cursor:pointer;
}

.map-link {
	color: rgb(80,93,62); /*  primary */
	font-family: "century gothic";
	line-height: 2.5em;
}

.quote {
	height: 164px;
	background-color: #fff;
}

.quote p {
	color: rgb(80,93,62); /*  primary */
	font-family: "century gothic";
	font-size: 21px;
	line-height: 31px;
	margin: 0 0 15px 0;
	letter-spacing: .04em;
	font-style: italic;
	padding: 20px;
}

.quote a {
	color: rgb(80,93,62); /*  primary */
	text-decoration: none;
}

.quote strong {
	font-family: "century gothic bold";	
}

.top {
	max-width: 100%;
	width:100%;
	height:auto;
	margin: 0 auto;
	text-align: center;
}

.top img {
	width:100%;
	max-width: 100%;
	z-index:-9999;
}

.footer {
	width:100%;
	height: 85px;
	margin: 0 auto;
	background-image: url("footer.svg");
}

.footer img {
	margin-top: 10px;
}

input.text, input.search, textarea.textarea {
	border: none;
	-moz-border-radius-bottomright: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	background-color: #ccc;
	height:20px;
	padding: 10px 0;
	border-top: 0px;
	background: #ededed;
}

.wufoo label.desc, .wufoo legend.desc {
	text-transform: uppercase;
}

.nomar {
	font-size: 24px;
	color: rgb(80,93,62); /*  primary */
	margin:0;
}